.hero-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 35px;
  width: 70%;
  text-align: center;
}

.hero-home h1 {
  z-index: 1;
  color: white;
  text-align: center;
  font-size: clamp(2rem, 6vw, 70px);
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
  padding-bottom: 33px;
}

.highlight {
  color: #a598d1;
  font-weight: 300;
  font-size: clamp(2rem, 6vw, 70px);
  font-optical-sizing: auto;
}
.hero-home p {
  z-index: 1;
  color: #78718d;
  font-size: clamp(1rem, 2.5vw, 23px);
}

@media (max-width: 1024px) {
  .hero-home {
    width: 85%;
    padding-top: 25px;
  }

  .hero-home h1 {
    padding-bottom: 15px;
  }
}

@media (max-width: 600px) {
  .hero-home {
    width: 90%;
    padding-top: 15px;
  }

  .hero-home h1 {
    font-weight: 400;
  }

  .hero-home p {
    font-size: 1rem;
  }
}
